body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

/* Top section with description and picture */
.top {
    background-color: #1F2937;
    padding: 20px 20px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #F9FAF8;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 10px 10px;
}

.container {
    display: flex;
    margin: 50px;
    padding: 0px;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 16px 50px;
    padding: 16px;
    gap: 8px;
}

.image {
    height: 350px;
    width: 350px;
}

h2 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero {
    font-size: 18px;
    color: #E5E7EB;
}


#top-button {
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    padding: 4px;
    font-weight: 900;
    border: none;
}

/* Second section with random info and pic cards */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 16px;
    height: 300px;
}

.title {
    color: #1F2937;
    font-size: 36px;
    padding: 8px;
    margin: 8px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 40px;
    width: 40px;
    padding: 8px;
}

.smallpics {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

/* Third section with quote */
.quote {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #E5E7EB;
}

.quote-text {
    height: 300px;
    width: 500px;
    font-size: 32px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.quotee {
    margin-top: 0;
    margin-left: 400px;
    padding: 0;
    color: #1F2937;
    font-size: 20px;
    font-weight: 800;
}

/* Fourth Section with call to action */
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 200px;
}

.sign-up {
    background-color: #3882F6;
    width: 675px;
    height: 100px;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}

#bottom-button{
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    padding: 4px;
    font-weight: 900;
    border: 2px solid white;
}

br {
    display: block;
    content: "";
    margin-top: 0;
}

.call h4 {
    margin-bottom: 0;
    color: #E5E7EB;
    font-size: 24px;
}

.call {
    color: #E5E7EB;
    margin-bottom: 16px;
}

/* Footer Section */
.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 80px;
    justify-content: center;
    align-items: center;
}